.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.nav {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #f1f0f0;
}
.lower {
  height: 1000px;
  display: flex;
  flex: 8;

  .sidebar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .sidebar__wrapper {
      width: 50%;
      padding: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .products {
    flex: 3;
  }

  .cart__wrapper {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
  }
}

@media screen and (max-width: 714px) {
  .lower {
    .sidebar {
      display: none;
    }
  }
  .nav {
    background-color: white;
    width: 80%;
  }
}
